body{
   background-image: url("https://images.ctfassets.net/pdf29us7flmy/6DlGmQnbGA55JqsuhBCd1E/1cd8c47139818383bf8d3802f970bc3e/CV-TEMPLATES-FINAL-JULY-01.png?w=720&q=100&fm=jpg");
   background-size: cover;

}

header{
   text-align: center;
   padding-top: 50px;
   padding: 50px;
   
}

.Job-title{
   color: white;
   font-size: larger;
   font-family: 'Courier New', Courier, monospace, sans-serif;
   text-decoration: underline;
   margin-top: 30px;
   text-transform: uppercase;
   text-align: center;
}

.myImage {
   height:400px;
   width: 400px;
   border: solid;
   border-radius: 100%;
   background-blend-mode: darken;
   text-align: center;   
}

h1{
   font-weight: 800px;
   text-transform: uppercase;
   text-align: center;
   color: rgb(206, 194, 194);
   font-weight: bolder;
}

.biograpghy{
   word-wrap: break-word;
   font-weight: bold;
   font-size: large;
   font-style: italic;
   color: white;
}

.main{
   text-align: center;
}

.section-1{
   text-align: center;
}

h2{
   font-family:  monospace, sans-serif;
   color: rgb(87, 146, 27);
   
}




ul li{
   list-style-type: none;
   font-weight: bolder;
   font-size: larger;
   font-family: 'Courier New', Courier, monospace,sans-serif;
   color: white;
   margin: 10px;
   
}


ol li {
   list-style-type: none;
   font-weight: bolder;
   font-size: larger;
   font-family: 'Courier New', Courier, monospace;
   color: white;
   margin: 10px;
}

li{
   text-align: center;
}



footer{
   background-color: rgb(28, 3, 3);
   padding: 30px;
   margin-top: 50px;
   border: none;
}

.experience{
   font-size: larger;
   font-family: 'Courier New', Courier, monospace;
   color: white;
   font-weight: bolder;
}

address{
   text-align: center;
   color: white;
   font-style: italic;
   font-weight: 300;
}